beautifulsoup4==4.5.3
chardet==2.3.0
dnspython==1.15.0
pexpect==4.2.1
Pillow==9.0.1
ptyprocess==0.5.1
pycrypto==2.6.1
pygobject==3.22.0
python-apt==1.4.0b3
PyYAML==5.4
requests==2.12.4
six==1.10.0
Unidecode==0.4.19
urllib3==1.25.9
